.productCard{
    width: 200px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #2a025c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.productCard h4, p{
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}
.productCard img{
    object-fit: contain;
    width: 200px;
    height: 150px;
    max-width: 300px;

}
.buttonSeeAll{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background-color: #6f2bbc;
    color: white;
    margin: 2px;
}