.estilos-listado{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #55031e;
    color: white;
    width: 100%;
    height: 100%;
}